snippet ref "Reflection" b
= Process Reflection =

What worked well today?
* ${1} 

How do I feel about it?
* ${2} 

What could I have done differently, and how would I feel?
* ${3} 

endsnippet

snippet plan "Plan" b
= Plan for `env LC_ALL=en_US.utf8 date --date="today" "+%Y.%m.%d %A"` =

There are about ${1} hour(s) left in the day...

What is a concrete, achievable set of tasks we can do in that time?
* ${2} 

What is left for the next day or two?
* ${3}

endsnippet
