snippet papis "Papis Fields" 
author: 
author_list:
- family:
  given: 
title:
type: article
year:
endsnippet

snippet conf "Conference Fields"
booktitle:
type: inproceedings
endsnippet

snippet icml "ICML Fields"
booktitle: Proceedings of the 41st International Conference on Machine Learning
series: Proceedings of Machine Learning Research
publisher: PMLR
type: inproceedings
year: '2024'
endsnippet
